
@font-face {
    font-family: 'Moon Dance';
    src: url(./Moon_Dance/MoonDance-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat Alternates';
    src: url(./Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf) format('truetype');
    font-weight: 800;

    src: url(./Montserrat_Alternates/MontserratAlternates-Medium.ttf);
    font-weight: 500;
}

@media (min-width: 500px) {
    :root{
        --title-font: 7rem;
        --tabs-font: 2.4rem;
        --text-font: 1rem;
        --display-font: 2.5rem;
        --header-gap: 30px;
        --about-grid: min-content / 3fr 2fr;
    }
}
@media (max-width: 500px) {
    :root{
        --title-font: max(20vw, 4.5rem);
        --tabs-font: max(8vw, 1.5rem);
        --text-font: .5vw;
        --display-font: max(8vw, 1.5rem);
        --header-gap: min(2vh, 10px);
    }
}
@media (max-width: 800px) {
    :root {
        --about-grid: 2fr 1fr / 1fr;
    }
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#content {
    background: no-repeat url(./pexels-rachel-claire-4577860.jpg) border-box;
    background-position: 50% 72%;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
    display: grid;
    grid: min-content 1fr / 1fr;
    gap: 25px;
    place-items: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--header-gap);
}

#title {
    width: 100vw;
    height: clamp(70px, 12.5vh, 200px);
    box-shadow: inset 0px 75px 20px -20px #000;
    display: flex;
    justify-content: center;
}
#title > h1 {
    font-size: var(--title-font);
    font-weight: normal;
    color: white;
    text-align: center;
    width: min-content;
    white-space: nowrap;
    z-index: 0;

    transform: rotate(2deg) translateY(-25%);
    font-family: 'Moon Dance', monospace;
}

#tabs {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.20);
    width: 80%;
    z-index: 1;

    font-family: 'Moon Dance';
    font-size: var(--tabs-font);

    line-height: 0%;
    padding: 12px;
}

main {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    padding: 15px 10px;
    width: 80%;
    height: 90%;

    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
main::-webkit-scrollbar {
    display: none;
}


main .display > div {
    font-size: var(--display-font);
    font-family: 'Montserrat Alternates';
    font-weight: 800;
    margin-bottom: 1.5rem;
}

main .about-panel {
    display: grid;
    grid: var(--about-grid);
    place-content: center;
}
main .about-panel .image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
    margin-top: -20%;
}

main .about-panel .image img {
    height: 280px;
}

main .info {
    font-size: 1.5rem;
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

main .wrapper {
    width: 100%;
    height: 100%;
    padding: 4% 0;

    display: grid;
    grid: repeat(auto-fit, 150px) / 1fr;
    place-items: center;
    gap: 10%;
}

main .card {
    width: 90%;
    height: 150px;

    display: grid;
    grid: repeat(2, min-content) / min-content 1fr;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6);
}
.card .item-img {
    height: 150px;
    width: 150px;

    outline: 2px solid #000;
    border-radius: 5%;

    grid-row: 1 / 3;
}

.card .title {
    font-family: 'Moon Dance';
    font-size: var(--tabs-font);
    margin-bottom: -20%;
}

.card .desc {
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    font-size: var(--text-font);
}